/* line 1, ../__compass/sass/ani_online.sass */
#fix {
  position: absolute;
  background-image: url(../_img/BG_online_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  overflow: hidden;
  z-index: -98;
  overflow: hidden;
}

/* line 17, ../__compass/sass/ani_online.sass */
#nofix {
  position: absolute;
  background-image: url(../_img/ani/olifant.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  overflow: hidden;
  z-index: -98;
  overflow: hidden;
}
