@import url(http://fonts.googleapis.com/css?family=Abel|Cantata+One);
/* line 1, ../__compass/sass/_vac.sass */
#vac_cont {
  position: fixed;
  width: 200px;
  height: 100%;
  right: -260px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 0;
  font-family: open-sans;
  background-color: rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

/* line 13, ../__compass/sass/_vac.sass */
#vac_title {
  display: block;
  margin-top: 200px;
  font-size: 30px;
  font-weight: 800;
  color: white;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  padding-bottom: 20px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

/* line 25, ../__compass/sass/_vac.sass */
#container_vacs {
  position: relative;
  min-height: 200px;
  max-height: 60%;
  overflow-x: scroll;
  max-width: 200px;
  padding-bottom: 30px;
}

/* line 33, ../__compass/sass/_vac.sass */
#vacs {
  display: block;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
}

/* line 39, ../__compass/sass/_vac.sass */
#spec {
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  margin-top: 5px;
  color: #00c8c8;
}

/* line 46, ../__compass/sass/_vac.sass */
#vacs a {
  display: block;
  font-weight: 800;
  height: 40px;
  padding: 15px;
}

/* line 52, ../__compass/sass/_vac.sass */
#vacs a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.5);
}

/* line 57, ../__compass/sass/_vac.sass */
#vac_nav {
  position: absolute;
  display: block;
  padding-top: 200px;
  width: 50px;
  height: 100%;
  left: 0;
}

/* line 65, ../__compass/sass/_vac.sass */
#vac_img {
  background-image: url(../_img/ico/jobs.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  height: 40px;
  width: 40px;
  margin-left: -40px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 78, ../__compass/sass/_vac.sass */
#vac_img:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 81, ../__compass/sass/_vac.sass */
#sluit {
  background-image: url(../_img/ico/sluit.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  display: none;
  height: 40px;
  width: 40px;
  margin-left: -40px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 95, ../__compass/sass/_vac.sass */
#sluit:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 1, ../__compass/sass/_testimonials.sass */
#testimonials_cont {
  position: fixed;
  width: 200px;
  height: 100%;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 10;
  font-family: open-sans;
  background-color: rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  z-index: 0;
}

/* line 14, ../__compass/sass/_testimonials.sass */
#testimonials_title {
  display: block;
  margin-top: 200px;
  font-size: 30px;
  font-weight: 800;
  color: white;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  padding-bottom: 50px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

/* line 26, ../__compass/sass/_testimonials.sass */
#container_test {
  position: relative;
  max-height: 60%;
  max-width: 200px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
  padding-bottom: 30px;
  overflow-x: scroll;
}

/* line 34, ../__compass/sass/_testimonials.sass */
#testimonials {
  display: block;
  color: white;
  padding: 15px 15px 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 30px;
}
/* line 41, ../__compass/sass/_testimonials.sass */
#testimonials:hover {
  background-color: rgba(0, 200, 200, 0.3);
  cursor: pointer;
}
/* line 44, ../__compass/sass/_testimonials.sass */
#testimonials p#date {
  font-weight: 600;
  font-style: italic;
  font-size: 70%;
  color: rgba(0, 200, 200, 0.7);
}
/* line 49, ../__compass/sass/_testimonials.sass */
#testimonials h2 {
  margin-top: 10px;
  font-weight: 800;
  font-size: 110%;
}
/* line 53, ../__compass/sass/_testimonials.sass */
#testimonials p#txt {
  font-size: 80%;
  line-height: 22px;
  font-weight: 400;
  margin-top: 20px;
  padding-right: 15px;
}

/* line 1, ../__compass/sass/_nav.sass */
#nav {
  display: inline-flex;
  height: 60px;
  align-content: center;
  text-align: center;
  margin: auto;
}

/* line 7, ../__compass/sass/_nav.sass */
#wrapper {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  overflow: hidden;
  z-index: -99;
}

/* line 13, ../__compass/sass/_nav.sass */
.home {
  background-image: url(../_img/BG_boy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* BG HOME */
/* line 23, ../__compass/sass/_nav.sass */
#BG1 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_online.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 35, ../__compass/sass/_nav.sass */
#BG5 #BGcon h1 {
  color: white;
}

/* line 37, ../__compass/sass/_nav.sass */
#yes {
  float: left;
  background-image: url(../_img/ico/yes.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  width: 100px;
  height: 100px;
  top: 50%;
}

/* line 46, ../__compass/sass/_nav.sass */
#BG5 #yes {
  float: left;
  background-image: url(../_img/ico/yes_soft.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  width: 100px;
  height: 100px;
  top: 50%;
}

/* line 55, ../__compass/sass/_nav.sass */
#BG2 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_books.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 67, ../__compass/sass/_nav.sass */
#BG3 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_magazines.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 79, ../__compass/sass/_nav.sass */
#BG4 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_apps.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 91, ../__compass/sass/_nav.sass */
#BG5 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_plastic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 103, ../__compass/sass/_nav.sass */
#BG6 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_database3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 115, ../__compass/sass/_nav.sass */
#BG7 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_paper3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 127, ../__compass/sass/_nav.sass */
#BG8 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_print2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 139, ../__compass/sass/_nav.sass */
#BG9 {
  display: none;
  position: absolute;
  background-image: url(../_img/BG_downloads.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 154, ../__compass/sass/_nav.sass */
#header {
  position: absolute;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  height: 65px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding-top: 12px;
  top: 0;
  z-index: 2;
  text-align: center;
}

/* line 164, ../__compass/sass/_nav.sass */
#header:hover {
  position: absolute;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 65px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding-top: 12px;
  top: 0;
}

/* line 172, ../__compass/sass/_nav.sass */
#item1 p,
#item2 p,
#item3 p,
#item4 p,
#item5 p,
#item6 p,
#item7 p,
#item8 p,
#item9 p {
  margin-top: 37px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
}

/* line 184, ../__compass/sass/_nav.sass */
.right {
  position: relative;
  top: 50%;
  height: 80px;
  padding-left: 50%;
}

/* line 189, ../__compass/sass/_nav.sass */
.left {
  position: relative;
  top: 50%;
  height: 80px;
  padding-right: 50%;
}

/* line 194, ../__compass/sass/_nav.sass */
#BGcon h1 {
  float: left;
  position: relative;
  font-family: open-sans;
  font-size: 55px;
  color: #000;
  font-weight: 800;
  height: 80px;
  width: 70%;
  text-align: right;
  margin-top: 12px;
  margin-right: 30px;
  line-height: 75px;
}

/* line 207, ../__compass/sass/_nav.sass */
#yes {
  float: left;
  background-image: url(../_img/ico/yes.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 100px;
  height: 100px;
  top: 50%;
}

/* line 216, ../__compass/sass/_nav.sass */
#BG5 #yes {
  float: left;
  background-image: url(../_img/ico/yes_soft.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 100px;
  height: 100px;
  top: 50%;
}

/* line 225, ../__compass/sass/_nav.sass */
#item1 {
  background-image: url(../_img/ico/online_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
}

/* line 238, ../__compass/sass/_nav.sass */
#item1:hover {
  background-image: url(../_img/ico/online.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 243, ../__compass/sass/_nav.sass */
#item2 {
  background-image: url(../_img/ico/books_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
  color: #FFF;
}

/* line 257, ../__compass/sass/_nav.sass */
#item2:hover {
  background-image: url(../_img/ico/books.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 262, ../__compass/sass/_nav.sass */
#item3 {
  background-image: url(../_img/ico/magazines_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
  color: #FFF;
}

/* line 276, ../__compass/sass/_nav.sass */
#item3:hover {
  background-image: url(../_img/ico/magazines.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 281, ../__compass/sass/_nav.sass */
#item4 {
  background-image: url(../_img/ico/apps_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
}

/* line 294, ../__compass/sass/_nav.sass */
#item4:hover {
  background-image: url(../_img/ico/apps.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 299, ../__compass/sass/_nav.sass */
#item5 {
  background-image: url(../_img/ico/plastificatie_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
}

/* line 312, ../__compass/sass/_nav.sass */
#item5:hover {
  background-image: url(../_img/ico/plastificatie.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 317, ../__compass/sass/_nav.sass */
#item6 {
  background-image: url(../_img/ico/data_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
}

/* line 330, ../__compass/sass/_nav.sass */
#item6:hover {
  background-image: url(../_img/ico/data.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 335, ../__compass/sass/_nav.sass */
#item7 {
  background-image: url(../_img/ico/paper_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
}

/* line 348, ../__compass/sass/_nav.sass */
#item7:hover {
  background-image: url(../_img/ico/paper.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 353, ../__compass/sass/_nav.sass */
#item8 {
  background-image: url(../_img/ico/print_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
}

/* line 366, ../__compass/sass/_nav.sass */
#item8:hover {
  background-image: url(../_img/ico/print.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 371, ../__compass/sass/_nav.sass */
#item9 {
  background-image: url(../_img/ico/down_soft.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center top;
  width: 100px;
  height: 35px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: open-sans;
  font-size: 12px;
  overflow: hidden;
}

/* line 384, ../__compass/sass/_nav.sass */
#item9:hover {
  background-image: url(../_img/ico/down.png);
  height: 60px;
  cursor: pointer;
  cursor: hand;
}

/* line 1, ../__compass/sass/_diaries.sass */
#btn_agenda {
  font-family: open-sans;
  width: 200px;
  padding: 20px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 30px;
  left: 30%;
  margin-left: -100px;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 17, ../__compass/sass/_diaries.sass */
#btn_agenda:hover {
  background-color: rgba(0, 200, 200, 0.3);
}

/* line 20, ../__compass/sass/_diaries.sass */
#btn_agenda h1 {
  display: block;
  font-size: 100%;
  font-weight: 800;
  margin-bottom: 20px;
  color: #00c8c8;
}

/* line 27, ../__compass/sass/_diaries.sass */
#btn_agenda #goto, #btn_agenda #down {
  display: block;
  font-family: open-sans;
  font-size: 80%;
  font-weight: 600;
  cursor: pointer;
  font-style: italic;
}
/* line 34, ../__compass/sass/_diaries.sass */
#btn_agenda #goto:hover, #btn_agenda #down:hover {
  color: rgba(0, 0, 0, 0.7);
}

/* line 1, ../__compass/sass/_mailform.sass */
#attachholder {
  background-image: url("../_img/ico/attach.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: inherit;
  margin-left: 190px;
  margin-bottom: -40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

/* line 14, ../__compass/sass/_mailform.sass */
#attach {
  background-image: url("../_img/ico/attach.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: inherit;
  float: right;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

/* line 26, ../__compass/sass/_mailform.sass */
#attachholder:hover {
  background-image: url("../_img/ico/attach_hov.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

/* line 32, ../__compass/sass/_mailform.sass */
#attachholder input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 0px;
  width: 0px;
}

/* line 39, ../__compass/sass/_mailform.sass */
#mailform {
  overflow: hidden;
  float: left;
  margin-left: 35px;
  margin-top: 12%;
  background-image: url(../_img/ico/mail_wit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  width: 20px;
  height: 10px;
  padding: 25px;
}

/* line 51, ../__compass/sass/_mailform.sass */
#mailform:hover {
  background-size: 0%;
  float: left;
  margin-left: 35px;
  margin-top: 12%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 230px;
  height: 380px;
  border-radius: 15px;
  border: 1px solid #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: left;
  cursor: pointer;
  cursor: hand;
}

/* line 66, ../__compass/sass/_mailform.sass */
#mailform label,
#mailform #bericht {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-family: open-sans;
  font-size: 12px;
  line-height: 25px;
  font-weight: 800;
}

/* line 74, ../__compass/sass/_mailform.sass */
#mailform #lnaam {
  margin-top: 30px;
}

/* line 76, ../__compass/sass/_mailform.sass */
#mailform #naam,
#mailform #email,
#mailform #adres,
#mailform textarea {
  width: 220px;
  height: 15px;
  font-family: open-sans;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 0px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 92, ../__compass/sass/_mailform.sass */
#mailform textarea {
  height: 75px;
}

/* line 94, ../__compass/sass/_mailform.sass */
.submit-button {
  background-color: rgba(0, 200, 200, 0.8);
  display: block;
  margin-right: 20px;
  margin-top: 3px;
  font-family: open-sans;
  float: left;
  font-size: 12px;
  color: white;
  width: 45%;
  height: 30px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 110, ../__compass/sass/_mailform.sass */
input.btnsubmit {
  background-color: rgba(0, 200, 200, 0.5);
  display: block;
  margin-top: 3px;
  font-family: open-sans;
  float: left;
  font-size: 12px;
  color: #fff;
  width: 45%;
  height: 30px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 125, ../__compass/sass/_mailform.sass */
.clear-button {
  background-color: rgba(0, 200, 200, 0.2);
  display: block;
  height: 30px;
  margin-top: 3px;
  font-family: open-sans;
  float: right;
  font-size: 12px;
  color: #FFF;
  width: 45%;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 140, ../__compass/sass/_mailform.sass */
.clear-button:hover {
  background-color: rgba(0, 200, 200, 0.1);
  display: block;
  height: 30px;
  margin-top: 3px;
  margin-right: 0px;
  font-family: open-sans;
  float: right;
  font-size: 12px;
  color: #fff;
  width: 45%;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  cursor: hand;
}

/* line 1, ../__compass/sass/_footer.sass */
#contact {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: open-sans;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 17, ../__compass/sass/_footer.sass */
#contact p {
  margin-top: 5px;
}

/* line 20, ../__compass/sass/_footer.sass */
#contact b {
  font-weight: 800;
}

/* line 23, ../__compass/sass/_footer.sass */
#contact i {
  font-weight: 800;
  color: #00c8c8;
}

/* line 26, ../__compass/sass/global.sass */
html, body {
  border: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

/* line 35, ../__compass/sass/global.sass */
input[type=text]:focus, input[type=email]:focus, textarea:focus {
  outline-color: #ace3cc;
}

/* line 39, ../__compass/sass/global.sass */
a {
  text-decoration: none;
  color: #FFFFFF;
}

/* line 44, ../__compass/sass/global.sass */
#home {
  position: absolute;
  width: 70px;
  height: 80px;
  display: none;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(0, 200, 200, 0.5);
  background-image: url(../_img/ico/home_soft.png);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
  background-size: 80%;
  padding-bottom: 50px;
  margin-top: 77px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.3;
}

/* line 65, ../__compass/sass/global.sass */
#home:hover {
  opacity: 1;
  cursor: pointer;
  cursor: hand;
}

/* CONTENT */
/* line 74, ../__compass/sass/global.sass */
#content {
  z-index: 1;
  float: left;
  margin-left: 10%;
  margin-top: 12%;
  background-color: rgba(255, 255, 255, 0.85);
  width: 450px;
  min-height: 350px;
  border-radius: 15px;
  border: 1px solid #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 25px;
  text-align: left;
}

/* line 89, ../__compass/sass/global.sass */
#content h1 {
  font-family: open-sans;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  min-height: 60px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  padding-bottom: 10px;
}

/* line 99, ../__compass/sass/global.sass */
#content h2 {
  font-family: open-sans;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-style: italic;
  min-height: 20px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  padding-bottom: 5px;
}

/* line 111, ../__compass/sass/global.sass */
#content p {
  font-family: open-sans;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}

/* line 119, ../__compass/sass/global.sass */
#content p b {
  font-family: open-sans;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 800;
}

/* line 127, ../__compass/sass/global.sass */
#content a {
  text-decoration: none;
  color: #92baaa;
}
